/* Define o estilo padrão para todos os elementos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

/* Estilo do corpo da página */
body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Imagem de fundo da página */
body::before {
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

/* Container principal que centraliza o conteúdo */
.container {
    width: 80%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
}

/* Estilo do conteúdo dentro do container */
.container__conteudo {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

/* Estilo das informações dentro do container */
.container__informacoes {
    flex: 1;
    padding: 3rem;
}

/* Estilo dos textos dentro do container */
.container__texto {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
}

/* Estilo da parte azul do texto */
.container__texto-azul {
    color: #1875E8;
    display: block;
}

/* Estilo dos campos de entrada */
.container__campo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

/* Estilo dos inputs */
.container__input {
    width: 130px;
    height: 72px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #1875E8;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

/* Estilo dos botões */
.container__botoes {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

/* Estilo do botão ativo */
.container__botao {
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    font-size: 24px;
    width: 100%;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

/* Estilo do botão desabilitado */
.container__botao-desabilitado {
    border-radius: 16px;
    background: #6f6f70;
    padding: 16px 24px;
    font-size: 24px;
    width: 100%;
    font-weight: 700;
    border: none;
    cursor: not-allowed;
}

/* Estilo do título */
h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    padding: 2rem;
}

/* Estilo dos parágrafos de texto */
.texto__paragrafo {
    color: #FFF;
    font-family: 'Inter';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Estilo da imagem dentro do container */
.container__imagem-pessoa {
    max-width: 100%;
    height: auto;
    margin-top: 2rem;
}

/* Estilo para botões desabilitados */
button:disabled {
    background-color: gray;
}

/* Estilo responsivo para telas menores */
@media screen and (max-width: 1250px) {
    .container__imagem-pessoa {
        display: none;
    }

    h1 {
        font-size: 50px;
    }
}
